@{
    ViewData["Title"] = "Guess your musics";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/SpotifyPlayer/Login">Login Spotify</a>
    <a href="/SpotifyPlayer/PlayShuffle">PlayShuffle</a>
</div>
