@{
    ViewData["Title"] = "";
}
@model IEnumerable<TrackRate>;

<div class="text-center">
    <h1 class="display-4"></h1>
    
    @if(Model == null)
    {
        @using(Html.BeginForm("LoadTracks","SpotifyPlayer"))
        {
            <input type="text" name="playlistName" placeholder="Vai pra Casa" value="Vai pra Casa" />
            <input type="submit" value="Carregar Tracks!">
        }
    }
    else
    {
        <a href="/SpotifyPlayer/CreatePlaylist">Criar Playlist</a>
        <a href="/SpotifyPlayer/PlayShuffle">Suffle</a>
    }
    
    @if (ViewBag.ErrorMessage != null)
    {
        <p style="color:red">@ViewBag.ErrorMessage</p>
    }
</div>
