@{
    ViewData["Title"] = "Duvido adivinhar tuas próprias músicas";
}
@model IEnumerable<string>;

<div class="text-center">
    <h1 class="display-4">Duvido adivinhar tuas próprias músicas!</h1>
    <p>1. Abra o Spotify em qualquer plataforma <a href="https://open.spotify.com/" target="_blank">Abrir no navegador</a></p>
    <p>2. Logue no Spotify. 
        @if(Model == null)
        {
            <a href="/SpotifyPlayer/Login">Logar no Spotify</a>    
        }  
    </p>
    <p>3. Adivinhe sem olhar pro player!</p>
    
    <a href="/SpotifyPlayer/PlayShuffle">Toca e deixa pra mim!</a>
    @if (ViewBag.ErrorMessage != null)
    {
        <p style="color:red">@ViewBag.ErrorMessage</p>
    }
</div>
